<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <record id="action_incidencia" model="ir.actions.act_window">
        <field name="name">Incidencia</field>
        <field name="res_model">aplicacion_incidencias.incidencia</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>

    <record id="action_estadisticas" model="ir.actions.act_window">
        <field name="name">Estadísticas</field>
        <field name="res_model">aplicacion_incidencias.estadisticas</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record id="action_encuesta" model="ir.actions.act_window">
        <field name="name">Encuesta</field>
        <field name="res_model">aplicacion_incidencias.encuesta</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>

    <record id="action_comentario" model="ir.actions.act_window">
        <field name="name">Comentarios</field>
        <field name="res_model">aplicacion_incidencias.comentario</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>

    <record id="action_adjunto" model="ir.actions.act_window">
        <field name="name">Adjuntos</field>
        <field name="res_model">aplicacion_incidencias.adjunto</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_incidencia_root"
              name="Aplicacion_Incidencia" />

    <menuitem id="menu_encuestas" name="Encuesta" parent="menu_incidencia_root" action="action_encuesta" />

    <menuitem id="menu_estadisticas" name="Estadisticas" parent="menu_incidencia_root" action="action_estadisticas" />

    <menuitem id="menu_incidencia"
              name="Incidencia"
              parent="menu_incidencia_root"
              action="action_incidencia" />

    <menuitem id="menu_comentario"
              name="Comentario"
              parent="menu_incidencia_root"
              action="action_comentario" />

    <menuitem id="menu_adjunto" name="Adjunto" parent="menu_incidencia_root" action="action_adjunto" />
</odoo>